@import "_variables.less";
@import "spacing.less";


.cover-img() {
    //background: url(../images/nasa-earthquakes-global.jpg) no-repeat top center; 
    background: url(../images/urban-notify.png) no-repeat bottom center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body {
    height: 100%;
    
    //background: #43C6AC;
    //background: -webkit-linear-gradient(to left, #43C6AC , #191654);
    //background: linear-gradient(to left, #43C6AC , #191654);  
            
}


// NAVBAR
.navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
}

.site-logo {
    max-height: 100%;
}



// SECTIONS
.pac-container {
    z-index: 2000;
    .pac-item {
        font-size: 18px;
    }
    .pac-item-query {
        font-size: 18px;
        margin-right: 10px;
    }
}

.section {
    padding: 100px 0;
    
    &-default {
        background: white;
    }
    
    &-banner {
        .cover-img();
        color: white;
        text-shadow: 1px 1px 7px #000;
        
        @media (min-width: @screen-sm-min) {
            padding: 300px 0;
        }
        
    }
    
    &-signup {
        padding: 300px 0;
    }
    
    &-overstated {
        //background: rgba(70,70,70,1.00);
        //background: #bb461b;    // Dark Orange
        //background: rgba(251,125,38,1.00);     // Map Orange
        background: #ce652e;
        color: white;
    }
    
    &-standout {
        background: rgba(70,70,70,1.00);
    }
    
    &-collapsed {
        padding: 0;
    }
}

.footer {
    padding: 30px;
}

