<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">
<title>Cal-Notify Admin</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>

<!-- FontAwesome Icons-->
<link href="css/font-awesome.min.css" rel="stylesheet">

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

<!-- Leaflet map & drawing styles -->
<link rel="stylesheet" href="css/leaflet.css" />
<link rel="stylesheet" href="css/leaflet.draw.css" />
<link rel="stylesheet" href="css/leaflet.awesome-markers.css" />

<!-- Custom styles for this template -->
<link href="css/dashboard.css" rel="stylesheet">
<link href="css/admin.css" rel="stylesheet">

<!-- Angular -->
<script src="js/vendor/angular.min.js"></script> 

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="alertsApp" ng-controller="alertsCtrl">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="index.html"><img src="images/cal-notify-logo.png" class="site-logo" alt="Cal-Notify Logo"><span class="sr-only">Cal-Notify Emergency Alert System</span></a> </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 main">
            <h1 class="page-header">Alerts Dashboard</h1>
            <p>Welcome administrator!</p>
            <p>The dashboard is <b>populated automatically</b> by constant monitoring of several <b>USGS & NOAA sources</b> for emergencies, but you can manually create alerts or modify those already retrieved from our sources.</p>
            <p>An alert is not sent to users until the admin selects the publish button associated to the alert, once it's published, a link will appear on the status of the alert, this will redirect you to a page which contains details about users reached in the affected area.</p>
            <p>The alerts can be presented using the default list view <i class="glyphicon glyphicon-th-list"></i> or within a map separated by category and severity <i class="glyphicon glyphicon-map-marker"></i>. To locate specific alerts please expand the filters section, every change will automatically update the list & map.</p><br/>
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-default text-left new-alert-btn">Create Alert</button>
                </div>
                <div class="col-xs-6">
                    <div class="text-right preview-toggle"> 
                        <a href="#alerts_list_tab" class="glyphicon glyphicon-th-list active" role="tab" data-toggle="tab" title="List View"><span class="sr-only">List View</span></a> 
                        <a href="#alerts_map_tab" class="glyphicon glyphicon-map-marker" role="tab" data-toggle="tab" title="Map View"><span class="sr-only">Map View</span></a>
                    </div>
                </div>
            </div>

            <div class="tab-content">

                <!-- FILTERS -->
                <div class="panel-group" id="panel-filter" role="tablist" aria-multiselectable="true" ng-show="alerts.length > 0">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="collapsePanelOne">
                            <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Filters</a></h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapsePanelOne">
                            <div class="panel-body">
                                <form class="form-inline">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="filterCategory">Category</label>&nbsp;
                                                <!--<select class="form-control" ng-model="filterCategory" ng-options="x for x in categories"></select>-->
                                                <select class="form-control" ng-model="filters.category" id="filterCategory">
                                                    <option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="filterSource">Source</label>&nbsp;
                                                <select class="form-control" ng-model="filters.source" id="filterSource">
                                                    <option ng-repeat="source in sources" value="{{source}}">{{source}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <strong>Severity</strong>&nbsp;
                                                <div class="checkbox">
                                                    <label> <input type="checkbox" value="" ng-model="filters.severityEmergency"> Emergency</label> &nbsp;
                                                    <label> <input type="checkbox" value="" ng-model="filters.severityNonEmergency"> Non-Emergency</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <strong>Date Range</strong>&nbsp;
                                                <label for="FilterStartDate" class="sr-only">Start Date</label>
                                                <input type="text" class="form-control" ng-model="filters.startDate" id="filter_start_date" placeholder="Start">
                                                to
                                                <label for="FilterEndDate" class="sr-only">End Date</label>
                                                <input type="text" class="form-control" ng-model="filters.endDate" id="filter_end_date" placeholder="End">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ALERTS LIST TAB -->
                <div role="tabpanel" class="tab-pane fade in active" id="alerts_list_tab">
                    <div class="table-responsive" ng-show="alerts.length > 0">
                        <table class="table table-striped alert-table">
                            <thead>
                                <tr>
                                    <th>Severity</th>
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Source</th>
                                    <th>Created</th>
                                    <!--<th>Date Sent</th>-->
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="alert in alerts | criteriaMatch:filters" on-finish-render="ngRepeatFinished">
                                    <td style="text-align:center">
                                        <span ng-if="alert.severity == 'Emergency'" class="glyphicon glyphicon-exclamation-sign text-danger"></span>
                                        <span ng-if="alert.severity == 'NonEmergency'" class="glyphicon glyphicon-warning-sign text-warning"></span>
                                    </td>
                                    <td>{{ alert.category }}</td>
                                    <td>
                                        <span><a href="" ng-click="editAlert(alert.id)" title="Edit">{{ alert.title }}</a></span><br/>
                                        <span ng-bind-html='alert.details | detectURLs'></span>
                                    </td>
                                    <!--<td><span ng-bind-html='alert.details | detectURLs'></span></td>-->
                                    <td>
                                        <span>{{alert.status}}</span><br/>
                                        <a ng-if="alert.status == 'Published'" href="notification-detail.html?alertId={{alert.id}}&token={{apiToken}}" data-toggle="tooltip" title="Details about notifications sent to users">See User Reach</a>
                                    </td>
                                    <td><span>{{alert.source}}</span></td>
                                    <td><time datetime="{{alert.created}}" title="{{alert.created | date: 'medium' }}">{{ alert.created | date: 'mediumDate' }}</time></td>
                                    <!--<td><time datetime="{{alert.published}}" title="{{alert.created | date: 'medium' }}">{{ alert.published | date: 'mediumDate' }}</time></td>-->
                                    <td>
                                        <button ng-if="alert.status != 'Published'" class="btn btn-default" data-toggle="tooltip" title="Edit Alert" ng-click="editAlert(alert.id)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                                        <button ng-if="alert.status != 'Published'" class="btn btn-success publish-btn" data-toggle="tooltip" title="Send alerts to users within the affected area" ng-click="confirmPublishAlert(alert.id)">Publish</button>
                                        <button ng-if="alert.status == 'Published'" class="btn btn-default republish-btn" data-toggle="tooltip" title="Duplicate current alert" ng-click="editAlert(alert.id, true)"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span></button>
                                        <button ng-if="alert.status == 'Published'" class="btn btn-success republish-btn" data-toggle="tooltip" title="Resend alerts to users within the affected area" ng-click="confirmPublishAlert(alert.id)">Republish</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center" ng-show="alertsLoading">
                        <i class="fa fa-cog fa-spin fa-2x fa-fw"></i><br/>Loading...
                    </div>
                    <div class="text-center" ng-show="!alertsLoading && alerts.length == 0">
                        <br/><br/>
                        <i class="fa fa-exclamation-circle fa-2x"></i>&nbsp;&nbsp;No alerts have been added yet...
                    </div>
                </div>

                <!-- ALERTS MAP TAB -->
                <div role="tabpanel" class="tab-pane fade" id="alerts_map_tab">
                    <div id="alerts_map"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Large modal -->
<div class="modal fade alert-modal" tabindex="-1" role="dialog" aria-labelledby="newAlertModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="newAlertModal"><span ng-if="newAlert">New</span><span ng-if="!newAlert">Update</span> Alert</h4>
            </div>
            <div class="modal-body">
                <form name="alertForm" validate-non-visible-controls>
                    <div ng-if="missingAffectedArea" class="alert alert-warning fade in">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Missing Affected Area</strong>. To publish, please use the map below to define the area that will be notified about the alert.
                    </div>
                    <!-- TITLE -->
                    <div class="form-group">
                        <label for="alertTitle">Title</label>
                        <input type="text" class="form-control" name="title" id="alertTitle" ng-model="currAlert.title" placeholder="Message Title or Subject" maxlength="100" required>
                    </div>

                    <!-- SEVERITY -->
                    <div class="form-group">
                        <label for="alertSeverity">Severity</label>
                        <select class="form-control" name="severity" id="alertSeverity" ng-model="currAlert.severity" required>
                            <option ng-repeat="severity in severities" value="{{severity}}">{{severity}}</option>
                        </select>
                    </div>

                    <!-- CATEGORY -->
                    <div class="form-group">
                        <label for="alertCategory">Category</label>
                        <select class="form-control" name="category" id="alertCategory" ng-model="currAlert.category" required>
                            <option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
                        </select>
                    </div>
                    
                    <!-- SOURCE -->
                    <div class="form-group">
                        <label for="alertSource">Source</label>
                        <select class="form-control" name="source" id="alertSource" ng-model="currAlert.source" required>
                            <option ng-repeat="source in sources" value="{{source}}">{{source}}</option>
                        </select>
                    </div>                
                    
                    <!-- SHORT DESCRIPTION -->
                    <div class="form-group">
                        <label for="alertDescription">Short Description</label>
                        <input type="text" class="form-control" name="description" id="alertDescription" ng-model="currAlert.details" placeholder="Short description less than 100 characters" maxlength="150" required>
                    </div>

                    <!-- MAP -->
                    <div class="form-group">
                        <label>Affected area</label>
                        <p ng-if="!newAlert" class="affected-area-text">Use the <b>drawing tools</b> to <b>define the affected area</b> that should receive the alert:</p>
                        <p ng-if="newAlert" class="affected-area-text">Use the <b>drawing tools</b> on the map's top right to <b>define the alert's location</b> (pin) & the <b>affected area</b> (polygon):</p>
                        <div class="coverage-map"></div>
                        <p class="text-danger map-disclosure">* Both pin (alert's location) and polygon (affected area) are required to save alert.</p>
                        <input type="hidden" name="location" class="coverage-map-coords" ng-model="currAlert.location" required>
                        <input type="hidden" name="affectedArea" class=" coverage-map-area-coords" ng-model="currAlert.affected_area" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span class="modal-error-msg">An error occurred</span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <span ng-show="currAlert.status != 'Published' || newAlert">
                    <button ng-if="!newAlert" ng-disabled="alertForm.$invalid" type="button" class="btn btn-primary save-alert-btn" ng-click="updateAlert()" data-loading-text="Updating alert...">Save Changes</button>
                    <button ng-if="newAlert" ng-disabled="alertForm.$invalid" type="button" class="btn btn-primary save-alert-btn" ng-click="createAlert()" data-loading-text="Creating alert...">Create Alert</button>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- Confirmation modal -->
<div class="modal fade confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="confirmationModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Publish Confirmation</h4>
            </div>
            <div class="modal-body">
                You are about to send notifications to all users within the affected area, would you like to continue?
            </div>
            <div class="modal-footer">
                <span class="modal-error-msg">An error occurred</span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="publish_alert" class="btn btn-primary publish-btn" data-loading-text="Notifying users..." ng-click="publishAlert()">Publish</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/base.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
<script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script> 
<script src="js/bootstrap.min.js"></script> 
<!-- Just to make our placeholder images work. Don't actually copy the next line! --> 
<script src="js/vendor/holder.min.js"></script> 
<!-- Datetime picker -->
<script src="js/vendor/moment.min.js"></script>
<script src="js/vendor/bootstrap-datetimepicker.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug --> 
<!--<script src="js/ie10-viewport-bug-workaround.js"></script>-->
<!-- Leaflet scripts -->
<script src="js/vendor/leaflet.js"></script>
<script src="js/vendor/leaflet.draw.js"></script>
<script src="js/vendor/leaflet-search.min.js"></script>
<script src="js/vendor/leaflet.awesome-markers.min.js"></script>
<!-- Admin script -->
<script src="js/admin.js"></script>
<!-- Angular modules & controllers -->
<script src="js/alertsController.js"></script>

</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92963936-1', 'auto');
  ga('send', 'pageview');

</script>

</html>
