<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <!-- Facebook sharing information tags -->
        <meta property="og:title" content="Cal-Notify Verification Email" />
        
        <title>Cal-Notify Verification Email</title>
		
	</head>
    <body >
    	<center>
            <strong>Hello {{name}},</strong>
            <br />
            Thanks for signing up for the Cal-Notify service.
            Please confirm your account to start receiving  notifications.
            <br />
            <a href="{{ tokenurl }}" target="_blank">Confirm you account</a>
        	
        </center>
    </body>
</html>